
.mainbgpic {
	width: 100%;
	height: 100%;
  background-image: url('../img/bg02.jpg');
  background-size: cover; 
  background-position: center; 
	display: flex;
	flex-direction: column;
	
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	font-family: Poppins;
}

.logo {
	width: 120px;
	margin: auto;
}

.tn2 {
	display: flex;
	flex-direction: column;
	margin: auto;
}

.login-box {
	margin: auto;
	background-color: rgba(255, 255, 255, 0.75);
	width: 300px;
	padding: 30px;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title {
	margin: auto;
	font-size: 26pt;
	color: white;
}
.input-box {
    position: relative;
    margin-bottom: 15px;
	display: flex;
	border: 2px solid #495057;
	border-radius: 15px;
	height: 40px;
}

.input-box input {
    width: 80%;
   
    font-family: Poppins;
	font-size: 12pt;
    border:none;
	background-color: transparent;
	outline: none;
}

.formicon {
	width: 25px;
	height: 25px;
	margin: auto;
	margin-left: 10px;
	opacity: 0.7;
}

.loginh2 {
	margin: auto;
	text-align: center;
	margin-bottom: 15px;
	font-size: 22pt;
	color: #343a40;
}
.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
	font-family: Poppins;
	font-weight: 200;
}

.login-btn:hover {
    background-color: #aa0e0e;

}
.usi {
	margin: auto;
	font-size: 15pt;
	color: #495057;
}
